.App {
  text-align: center;
  padding: 20px;
  background-color: rgb(0, 0, 0); /* Light background color */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2em;
  color: #ffffff; /* Text color */
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5em;
  color: #666; /* Secondary text color */
  margin-bottom: 20px;
  border: 2px solid #4CAF50; /* Green border */
  padding: 10px;
  border-radius: 5px;
  background-color: #e8f5e9; /* Light green background */
  width: 50%; /* Centering width */
  margin-left: auto;
  margin-right: auto;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  margin: 10px;
  padding: 15px 20px;
  font-size: 16px;
  background-color: #4CAF50; /* Button color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth color change */
}

button:hover {
  background-color: #33dac3; /* Hover color */
}

button:active {
  background-color: #3e8e41; /* Active click color */
}

button.reset {
  background-color: #f44336; /* Red color for reset button */
}

button.reset:hover {
  background-color: #e53935;
}

button.name {
  background-color: #2196F3; /* Blue color for name button */
}

button.name:hover {
  background-color: #1976D2;
}
